* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;  
}

.country-card,
.region-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 350px;
  background-color: #f3f0ff;
  border-radius: 10px;
  border: 3px solid #dcd3ff;  
  margin-top: 2rem;
}

.region-result {
  height: 200px;
  padding: 2rem;
  justify-content: flex-start;
}

.region-result h2 {
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.region-result ol li {
  font-size: 1.3rem;
}

.country-card h2 {
  margin-bottom: 1rem;
  font-family: monospace;
  font-size: 2rem;
  text-transform: uppercase;
}

.countries-grid {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
}

.flag-image {
  max-width: 200px;
}

.country-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem;
  height: 100px;
}

ul li {
  list-style: none;
}

.p-noResult {
  font-size: 3rem;
}

.name-and-score ol {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.startpage-button-container {
  padding: 2rem 3rem;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3f0ff;
  border-radius: 10px;
  border: 3px solid #dcd3ff;
}

.startpage-button-container button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

button {
  cursor: pointer;
}

.countryinfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}